<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/user-add']"><mat-icon>add</mat-icon></a>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="example-table"
             matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
  

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef>User Mail</th>
          <td mat-cell *matCellDef="let row">{{row.mail}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user-details/', row.id]"></tr>
      </table>
    </div>
  </div>