<div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
          <a mat-flat-button color="primary" [routerLink]="['/item-add']"><mat-icon>add</mat-icon></a>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="data" class="example-table"
                 matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
      
    
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Item Name</th>
              <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
      
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef>Item Value</th>
              <td mat-cell *matCellDef="let row">{{row.value}}</td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/item-details/', row.id]"></tr>
          </table>
        </div>
      </div>