<div class="container">
  <div style="text-align:left">
    <div class="row">
      <div class="col-sm">
        <img width="100" alt="Natixis Logo" src="https://www.french.org/wp-content/uploads/2016/11/Natixis.jpg">
      </div>
      <div class="col-sm">
        <span style="position: relative;">Only for Assessment Porpuse</span>
      </div>
    </div>
  </div>
</div>

<div style="padding: 0px 130px 0px 130px;">
  <mat-toolbar>
    <button mat-button (click)="users()">Users</button>
    <button mat-button (click)="items()">Items</button>
    <button mat-button (click)="shoppingCart()">Shopping Cart</button>
  </mat-toolbar>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>