<div class="example-container mat-elevation-z8">
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
          <a mat-flat-button color="primary" (click)="itemDetails()"><mat-icon>info</mat-icon></a>
        </div>
        <mat-card class="example-card">
          <form [formGroup]="itemForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Item Name" formControlName="name"
                     [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!itemForm.get('name').valid && itemForm.get('name').touched">Please enter Item Name</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Item Value" formControlName="value"
                     [errorStateMatcher]="matcher" type="number" min="0">
              <mat-error>
                <span *ngIf="!itemForm.get('value').valid && itemForm.get('value').touched">Please enter Item Price</span>
              </mat-error>
            </mat-form-field>
            <div class="button-row">
              <button type="submit" [disabled]="!itemForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
          </form>
        </mat-card>
      </div>