<div class="">
    <div class="" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>


    <div style="background-color: grey;padding: 20px;">
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <h4 style="padding-right: 10px;">Select User</h4>
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select (selectionChange)="selectingUser()" [(ngModel)]="selectedUser">
                        <mat-option *ngFor="let user of users" [value]="user">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div
                    *ngIf="this.selectedUser.id != undefined && (this.shoppingCart != null && this.shoppingCart.shoppingCartOpen)">
                    <button mat-button (click)="clearShoppingCart()">Clear Shopping Cart</button>
                </div>
                <div
                    *ngIf="this.selectedUser.id != undefined && (this.shoppingCart != null && !this.shoppingCart.shoppingCartOpen)">

                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div style="padding: 20px;"
        *ngIf="this.selectedUser.id != undefined && this.shoppingCart != undefined && this.shoppingCart.id != undefined && this.shoppingCart.shoppingCartOpen">
    </div>
    <div style="background-color: grey;padding: 20px;"
        *ngIf="this.selectedUser.id != undefined && this.shoppingCart != undefined && this.shoppingCart.id != undefined && this.shoppingCart.shoppingCartOpen">
        <mat-grid-list cols="3" rowHeight="80px">
            <mat-grid-tile>
                <h4 style="padding-right: 10px;">Select Item</h4>
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select [(ngModel)]="selectedItem">
                        <mat-option *ngFor="let item of items" [value]="item">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <div *ngIf="this.selectedItem != undefined">
                    <span>Value: </span>
                    {{selectedItem.value}}
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div *ngIf="this.selectedItem != undefined">
                    <button mat-button (click)="addItem(this.selectedItem.id)">Add</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div style="padding: 20px;"></div>
    <div style="background-color: grey;padding: 20px;position: relative;"
        *ngIf="this.selectedUser.id != undefined && this.shoppingCart != undefined && this.shoppingCart.id != undefined && this.shoppingCart.sales.length > 0">
        <mat-grid-list cols="2" rowHeight="200px" style="position: relative;">
            <mat-grid-tile>
                <table mat-table [dataSource]="this.shoppingCart.sales" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Item Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.itemDTO.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let element"> {{element.itemDTO.value}} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-grid-tile>
            <mat-grid-tile>
                <span style="padding-right: 10px ;"> Total </span>
                {{this.shoppingCart.total}}
                <div  *ngIf="this.selectedUser.id != undefined && (this.shoppingCart != null && this.shoppingCart.shoppingCartOpen)">
                    <button mat-button (click)="closeShoppingCart()" style="text-align:right">Close Shopping
                        Cart</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

    </div>


</div>